body {
    background-color: #8b998f;
    flex-direction: column;
    display:flex ;
}


a {
    text-decoration: none;
    color: black;
    text-align: center;

}

.table {
    font-size: 17px;
    text-align: center;
    background-color: #dee4e0;
    margin-top: 90px;
    box-shadow: 2px 2px 100px 3px #011b0c56;
  
}

.border-top-color {
    color: white
}

.voltar {
    color: black;
}

.cabecalho {
    border-bottom: solid 5px;
    background-color: #011b0c;
    color: white;

}

h1 {
    text-align: center;
    padding-top: 10px;
}

.corpo {
    border: black;
    border-bottom: black;
}

.botoes {
    background-color: #011b0c;
    color: white;
    margin-bottom: 15px;
    max-width: fit-content;
  
    
}
.row{
    display: flex;
    flex-direction: column;
}

