body{
    font-family: 'Raleway', sans-serif;
    background:rgb(157, 172, 160);
    margin-top: 100px;
}
form{
    padding: 50px;
    text-align: left;
    height: 490px;
    width: 400px;
    background: #dee4e0;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    margin: 0 auto;
}
input{
    border-radius: 10px;
    padding: 10px 25px;
    margin-bottom: 15px;
  
}

.form1{
    max-width: 200px;
   flex-direction: column;
   flex-wrap: wrap;
}

input[type="submit" i]{
    width: 70px;
    height: 30px;
    background: #011b0cfa;
    color: white;
    padding: 5px;
    font-size: 13px;
    border: none;
}

input[type="file" i]{
    padding: 4px;
    font-size: 12px;
    color: #011b0cfa;
}

input[type="text" i]{
    height: 15px;
    border: none;
    width: 300px;

}
legend{
    margin-bottom: 30px;
    font-size: 20px;
    color: #011b0cfa;
}

span{
    font-size: 13px;
    color:rgb(255, 0, 0);
}
span.obrigatorio{
    font-size: 12px;
    color:rgb(255, 255, 255);
    padding-bottom: 10px;
    margin-top: 1px;
}

select{
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: black;
    border: none;
    color: #011b0c;
    padding-left: 4px;
}
.select{
    display: flex;
    justify-content: flex-start;
}

.salvar{
    max-width: 350px;
    text-align: end;
}

