/*CSS SALA*/

.elemento{
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #011b0c63;
    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.icone{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.icone h1{
font-size: 20px;
color: #011b0cec;
margin: 20px;
}

.container img:hover{
    border: 1px solid #dee4e000;
    transition: all 0.5s;
}

.container img{
    cursor: pointer;
    transition: all 1s;
}

.icone img{
    width:80px;
    height: 80px;
    opacity: 0.2;
    margin-right: 7px;
}

.img-cima{
    height:550px;
}


.botao{
    text-align: center;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: #4f5c54a6;
    border: none;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    margin-bottom: 100px;
    margin-top: 40px;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
