/*CSS SALA*/

.flexbox img{
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
}


.icone{
    text-align: center;
    margin-top: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.icone h1{
font-size: 20px;
color: #011b0cec;
margin: 20px;
}

.icone img{
    width:80px;
    height: 80px;
    opacity: 0.2;
    margin-right: 7px;
}

.img-cima{
    height:300px;
}

.flex1 img{
    width: 320px;
    height: 320px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.flex1{
    display: flex;
    flex-wrap: wrap;
    max-width: 990px;
    margin: 10px;

}

.flex1>div{
    flex: 1 1 200px;
}

.flexbox{
    display: flex;
   justify-content: center;
}

.botao{
    text-align: center;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: #4f5c54a6;
    border: none;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    margin-bottom: 100px;
    margin-top: 40px;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
