.externo {
    max-width: 1800px;
    background-color: #e1eee6;
    margin: 30px auto;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
}

.direita {
    padding: 30px 30px 0px 50px;
}

p {
    font-size: 13px;
    text-align: start;
}

.direita h1 {
    font-size: 20px;
    text-align: right;
}