.container-produto {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0px;
}

.container-compras {
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.container-compras img {
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    border-radius: 10px;
}

.container-image {
    padding: 0px 40px 0px 0px;
}

.container-informacoes {
    padding: 0px 15px;
    flex-wrap: wrap;
    max-width: 550px;
}

.container-informacoes h1 {
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    font-size: 20px;
    color: #011b0ccb;
}

.container-botao {
    padding: 20px 0px;
    display: flex;
    justify-content: left;

}

.tamanho-tm p {
    font-style: italic;
    font-size: 10px;
    padding: 5px 0px;
    color: #011b0c;
}

.tamanho-cor p {
    font-weight: bold;
    font-size: 16px;
    color: #011b0c;
}

.tamanho-material p {
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0px;
    color: #011b0c;
}

.tamanho-descricao p{
    color: #011b0ccb;
}


input[type="submit" i] {
    background: #011b0c;
    height: 45px;
    border: none;
    width: 250px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 10px 10px 15px rgb(85 85 85 / 40%);
    }

.outros-produtos {
    padding: 40px 0px;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.container-outras-imgs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-outras-imgs img{
    width: 200px;
    height: 200px;
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    border-radius: 10px;

}

.container-outras-imgs img:hover{
    border: 1px solid #ffffff4b;
    transition: all 0.5s;
}

.mais-produtos{
    padding: 20px 12px 20px;
    font-size: 20px;
    color: #011b0c9f;
    text-align: center;
}

.mais-produtos h2{
    font-size: 20px;
}

.outros-produtos{
    display: flex;
    justify-content: space-evenly;
}