.texto {
    padding-right: 10px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.texto1 {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #346649;
}

.titulos {
    text-align: center;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;

}


.titulos img {
    width: 250px;
    height: 300px;
}

.titulos h2 {
    padding-top: 60px;
    padding-bottom: 20px;
}






.slider {
    margin: 0 auto;
    width: 100%;
    height: 550px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.397);
}

.slides {
    width: 400%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: static;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 1100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.manual-btn {


    transition: 0.2s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {

    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 1100px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #3d7c577a;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #3d7c577a;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #3d7c577a;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #3d7c577a;
}


/*CSS FLEXBOX 1*/

.flex {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.flex>div {
    flex: auto;
    margin: 0 auto;
}

.flex img {
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
}

h1 {
    color: #011b0c
}