.tudo-resultado {
    
    margin-top: 190px;
    display: flex;
    display: flex;
    justify-content: center
}


.container-resultado {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    flex-wrap: wrap;
    z-index: 2020;
}

.resultado-produto {
    margin-bottom: 50px;
}


.img-resultado img {
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(85, 85, 85, 0.397);
    border-radius: 10px;
    margin: 10px 0px;
}

.input-resultado {
    display: flex;
    align-items: center;
}

input[type="submit" i] {
    background: #011b0c;
    height: 45px;
    border: none;
    width: 100px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 10px 10px 15px rgb(85 85 85 / 40%);}

.elementos-resultado {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding: 10px 0px;

}

.resultado-descricao {
    padding-left: 5px;

}

.resultado-descricao h3 {
    font-size: 11px;
    color: #011b0cbd;
}

.resultado-descricao h1 {
    font-size: 20px;
    color: #011b0c;
    padding-right: 5px;
}

.resultado-descricao p {
    font-style: italic;
    font-size: 11px;
    color: #011b0cbd;
}

.titulos1 {
    text-align: left;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;

}

.flex1 {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 170px;

}

.flex1>div {
    flex: auto;
    margin: 0 auto;
}