* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

a{
list-style: none;
color: white;
font: size 15px;
}

body {
    background-color: #dee4e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.logo li {
    display: block;
    margin-top: 10px;
}

.logoimg {
    display: block;
    width: 130px;
    height: 30px;
}

.sub-menu-1 {
    display: none;

}

.sub-menu-1 ul li {
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;

}

.espacos-contato{
    display: flex;
}

.sub-menu-1 ul li img {
    max-width: 18px;
    margin-right: 10px;
    opacity: 0.9;
    transition: 0.5;
    margin-bottom: -3%;
}

nav {
    background-color: #011b0c;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #0d2718 solid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
}


nav ul {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li {
    margin: 15px;
    padding: 15px;
    max-width: 900px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #0d2718;
    width: 160px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: -38px;
    transition: 0.5s;


}

nav ul li:hover .sub-menu-1 ul {
    display: block;
}

nav ul li:hover .sub-menu-1 ul li {
    width: 130px;
    text-align: left;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover {
    padding-left: 10px;
    background-color: #b0bdb433;
}


.search-box {
    width: 200px;
    display: flex;
    align-items: center;
    background: white;
    height: 15px;
    border-radius: 40px;
    padding: 13px;
    margin-top: 28px;
    margin-right: 10px;
    margin-left: 450px
}

input[type="text" i]{
    border: none;
    outline: none;
}

input[type="text" i] {
    border: none;
}

.boxs-icons img{
    width: 20px;
    margin-right: 5px;
}

footer .logo {
    width: 130px;
    height: 30px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    min-height: 250px;
    background: #011b0c;
    display: flex;
    margin-top: auto;
    justify-content: center;
}

footer .boxs {
    width: 750px;
    min-height: 150px;
    padding: 20px;
    margin-left: 95px;
    margin-top: 15px;
}

footer .boxs:nth-child(2){
    width: 400px;
}

.boxs p{
    color: white;
    font-size: 13px;
    margin-bottom: 5px;
}

.boxs ul li{
    list-style: none;
}

@media(max-width:450px){
    footer{
        flex-direction: column;
    }
}


.boxs-icons{
    display: flex;
}

.boxs-icons img{
    margin-right: 10px;
    margin-top: 15px;
}

.nav2{
    display: flex;
    list-style: none;
    font-size: 15px;
    padding-top: 20px;
}

.nav2 a{
    margin-right: 10px;
    color: red;
}

footer .adm{
    font-size: 10px;
    list-style: none;
    text-decoration: none;
    color: #51725f;
}
